.App {
  text-align: center;
  border-radius: 5px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outlinenone{
    background-color: #282c34;
    color: white;
    border-radius: 5px;
}
.outlinenone-second{
  background-color: #c2c5cc;
  color: white;
  border-radius: 10px;
}

.img-anchor{
  height:30px !important;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.title-image{
  margin-left:-200px;
}